{% extends "enterpoll/base.html" %}

{% load static %}

{% block title %}Enterpoll{% endblock title %}
{% block h1 %}Enterpoll{% endblock h1 %}
{% block content %}
	<!--<img src="{% static 'enterpoll/ivan.jpg' %}" alt="ivan" width="10%">-->
	<h2 class="main_page_h2">Популярные опросы</h2>
		<div class="main_page_polls_container">
			{% for poll in most_popular_polls %}
				<div class="main_page_polls_container_element">
					<a href="{% url 'poll_page' poll.pk %}">{{ poll.title }}</a>
					<p>
						{{ poll.description }}
					</p>
				</div>
			{% endfor %}
		</div>
	<h2 class="main_page_h2">Лучшие опросы</h2>
		<div class="main_page_polls_container">
			{% for poll in highly_rated_polls %}
				<div class="main_page_polls_container_element">
					<a href="{% url 'poll_page' poll.pk %}">{{ poll.title }}</a>
					<p>
						{{ poll.description }}
					</p>
				</div>
			{% endfor %}
		</div>
	<h2 class="main_page_h2">Новые опросы</h2>
		<div class="main_page_polls_container">
			{% for poll in latest_polls %}
				<div class="main_page_polls_container_element">
					<a href="{% url 'poll_page' poll.pk %}">{{ poll.title }}</a>
					<p>
						{{ poll.description }}
					</p>
				</div>
			{% endfor %}
		</div>
{% endblock content %}
